      <h1>新 規 追 加 画 面</h1>
      <%= form_for @task do |f| %>
      <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
        <!--<input type="text">-->
        <% if @task.errors.any? %>
          <%= @task.errors.messages[:title][0] %>
        <% end %>
      </p>
      <p>
        <%= f.submit %>
        <!--<input type="submit">-->
      </p>
      <% end %>